{% load static %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Skullking</title>
		<link
			rel="shortcut icon"
			href="{% static 'myapp/images/text-logo.png' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'myapp/test-style.css' %}"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="navbar">
			<div id="navbar-left" class="navbar-element navbar-element-extremity">
				<a
					id="navbar-github-link"
					class="navbar-link"
					href="https://github.com/Sydnec/skullking"
					target="_blank"
					>Github</a
				>
				<a
					id="navbar-rules-link"
					class="navbar-link"
					href="https://www.play-in.com/pdf/rules_games/skull_king_regles_fr.pdf"
					target="_blank"
					>Rules</a
				>
			</div>
			<div id="navbar-center" class="navbar-element">
				<a id="navbar-home-link" href="{% url 'home' %}">
					<img
						id="navbar-home-logo"
						src="{% static 'myapp/images/text-logo.png' %}"
						alt="skullking logo"
					/>
				</a>
			</div>
			<div id="navbar-right" class="navbar-element navbar-element-extremity">
				{% if not user.is_authenticated %}
                    <a id="navbar-login-link" class="navbar-link" href="{% url 'login' %}">Login</a>
					<a id="navbar-register-button" class="navbar-link button" href="{% url 'register' %}">
                        Signup
                    </a>
				{% else %}
                    <a id="navbar-logout-button" class="navbar-link button" href="{% url 'logout' %}">Logout</a>
				{% endif %}
			</div>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
