<!-- myapp/templates/myapp/bet.html -->

{% extends "myapp/game.html" %} {% block board %} {% load static %}
<div class="on-gameboard">
	{% if data.bet.value == 0 %}
			<button
				type="button"
				class="bet-buttons active"
				value="0"
			>
				0
			</button>
		{% else %}
			<button type="button" class="bet-buttons" value="0">
				0
			</button>
		{% endif %} 
	{% for card in hand_cards %} 
		{% if forloop.counter == data.bet.value %}
			<button
				type="button"
				class="bet-buttons active"
				value="{{ forloop.counter }}"
			>
				{{ forloop.counter }}
			</button>
		{% else %}
			<button type="button" class="bet-buttons" value="{{ forloop.counter }}">
				{{ forloop.counter }}
			</button>
		{% endif %} 
	{% endfor %}
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const buttons = document.querySelectorAll('.bet-buttons');
		const room_id = document.querySelector('input[name="room_id"]').value;
		
		buttons.forEach((button) => {
			button.addEventListener('click', function () {
				buttons.forEach((btn) => {
					btn.classList.remove('active');
				});

				this.classList.add('active');
				const betValue = this.value;

                fetch('/action/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}',
					},
					body: JSON.stringify({
                        action: 'bet',
						bet_value: betValue,
						room_id: room_id,
					}),
				})
                .then((response) => response.json())
			});
		});
	});
</script>
{% endblock board %}
