<!-- myapp/templates/myapp/game.html -->

{% extends "myapp/base.html" %} {% block content %}
{% load static %}
<div class="game-view">
    <div class="game-content">
        <input
            type="hidden"
            name="room_id"
            value="{{ room_id }}"
        />
        {% if step == "bet" %}
            {% block bet %}{% endblock %}
        {% elif step == "table" %}
            {% block table %}{% endblock %}
        {% endif %}
    </div>
    <div class="game-infos">
        <ul id="game-username-list">
            {% for player, bet in player_bets.items %}
                <li class="game-player-list">
                    <p class="player-username">{{ player.user.username }} : </p>
                    <p class="player-bet">{% if bet %}{{ bet.value }}{% else %}Pas de pari{% endif %}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class='your-hand'>
        {% for hand_card in hand_cards %}
            {% if forloop.counter > 1 %}
                <img class='card hand-card hand-overlap' src="{% static 'myapp/images/cards/' %}{{ hand_card.card.name }}.png" style="z-index: {{ forloop.counter }};"></img>
            {% else %}
                <img class='card hand-card' src="{% static 'myapp/images/cards/' %}{{ hand_card.card.name }}.png" style="z-index: {{ forloop.counter }};"></img>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}