<!-- myapp/templates/myapp/game.html -->

{% extends "myapp/base.html" %} {% block content %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<script>
    const currentUrl = window.location.pathname;
    const parts = currentUrl.split('/');
    const room_id = parts[2]

    var socket = new ReconnectingWebSocket(
        `ws://${window.location.host}:8001/ws/game_updates/`
    );
    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data.room_id == room_id) {
            location.reload();
        }
    }
</script>
<div class="game-content">
    <div class="left-panel">
        <div class="game-board">
            <button id="toggleHiddenRightPanel" onclick="toggleHiddenRightPanel()" style="z-index: 11">></button>
            <button id="toggleHierachie" onclick="toggleHierachie()" style="z-index: 11">hierarchie</button>
            <img id="hierarchie-memo" style="display: none;" src="{% static 'myapp/images/hierarchie.png' %}"/>
            <input
                type="hidden"
                name="room_id"
                value="{{ room_id }}"
            />
            {% for player, data in players_data.items %}
                {% if forloop.counter0 == 0 %}
                    {# Première itération donc player = moi #}
                    {% if data.your_turn and data.tricks_number >= 0 %}
                        <h1 class="alert turn-alert">YOUR TURN</h1>
                    {% endif %}
                    <div class="tigress-choice" style="display: None;">
                        <img
                            class="card big-card pirate"
                            src="{% static 'myapp/images/cards/' %}tigress0.png"
                            onclick="playCard('tigress0')"
                        />
                        <img
                            class="card big-card escape"
                            src="{% static 'myapp/images/cards/' %}tigress1.png"
                            onclick="playCard('tigress1')"
                        />
                    </div>
                    {% block board %}{% endblock board %}
                    <div class="your-infos">
                        <p>{{ data.tricks_number }} / {% if data.bet %}{{ data.bet.value }}{% else %}No bet{% endif %}</p>
                    </div>
                {% else %}
                    {# Les autres joueurs #}
                    <div class="player-hand" style="transform: translateX(calc(-75px + 35vw * cos(270deg - (({{ forloop.counter0 }} * 360deg) / {{ players_data|length }})))) translateY(calc(-25px + (-32vh * sin(270deg - (({{ forloop.counter0 }} * 360deg) / {{ players_data|length }}))))); z-index: {{ forloop.counter }};">
                        {% with ''|center:data.cards_number as range %}
                        {% if not range %}
                        <div style="height: max(11vh, 80px); margin-bottom: 6px"> </div>
                        {% endif %}
                            {% for _ in range %}
                                <img class="card player-card {% if forloop.counter0 > 0 %}overlap{% endif %}" src="{% static 'myapp/images/cards/back.png' %}" style="transform: rotate(calc(({{ data.cards_number }} - 1)* -5deg + {{ forloop.counter0 }} * 10deg)); z-index: {{ forloop.counter }};" />
                            {% endfor %}
                        {% endwith %}
                        <p>
                            {% if data.your_turn %}* {% endif %}{{ player.user.username }}: {% if data.tricks_number >= 0 %}{{ data.tricks_number }} / {{ data.bet.value }}{% else %}{% if data.bet %}Bet{% else %}No bet{% endif %}{% endif %}<br>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class='your-hand'>
            {% for hand_card in hand_cards %}
                {% if forloop.counter > 1 %}
                    <img class='card hand-card hand-overlap' src="{% static 'myapp/images/cards/' %}{{ hand_card.card.name }}.png" style="z-index: {{ forloop.counter }};" onclick="playCard('{{ hand_card.card.name }}')">
                {% else %}
                    <img class='card hand-card' src="{% static 'myapp/images/cards/' %}{{ hand_card.card.name }}.png" style="z-index: {{ forloop.counter }};" onclick="playCard('{{ hand_card.card.name }}')">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="right-panel">
        <div id="scoreboard">
            <h2>Scoreboard</h2>
            {% for player, data in players_data.items %}
                <p>{% if data.your_turn %}* {% endif %}{{ player.user.username }} : {{ player.score }}</p>
            {% endfor %}
        </div>
        <div id="message-box">
            <h2>Messages</h2>
            <ul></ul>
            <input></input>
        </div>
    </div>
</div>
<script>
function playCard(cardName) {
    const room_id = document.querySelector('input[name="room_id"]').value
    const tigress_choice = document.querySelector('.tigress-choice')

    if(cardName==="tigress"){
        tigress_choice.style.display = "block"
    } else{
        tigress_choice.style.display = "none"
        console.log(cardName)
        fetch('/action/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({
                action: 'play',
                card_name: cardName,
                room_id: room_id,
            }),
        })
        .then((response) => response.json())
    }
}
function toggleHiddenRightPanel(){
    const button = document.getElementById('toggleHiddenRightPanel')
    const rightPanel = document.querySelector('.right-panel')

    rightPanel.style.display = rightPanel.style.display === "none" ? "block" : "none";
    button.textContent = rightPanel.style.display === "none" ? "<" : ">";
}
function toggleHierachie(){
    const button = document.getElementById('toggleHierachie')
    const memo = document.getElementById('hierarchie-memo')

    memo.style.display = memo.style.display === "none" ? "block" : "none";
    button.classList.toggle("active");
}
</script>
{% endblock content %}