<!-- myapp/templates/myapp/home.html -->

{% extends "myapp/base.html" %} {% block content %}
<div class="home-content frame">
	<div class="room-creation">
		<form id="join-room-form" action="/room_redirect" method="get">
			<label for="roomInput">Room code :</label>
			<input type="text" id="code-input" name="content" />
			<button type="submit">Join room</button>
		</form>
		<form id="create-room-form" action="/room/" method="post">
			{% csrf_token %}
			<button class="green-button" type="submit">Create room</button>
		</form>
	</div>
	<br>
	<div class="room-list">
		<ul>
			{% for room in rooms_data %}
			<li class="room-line-content">
				<ul class="player-list-line">
					{% for username in room.usernames %}
					<span class="username-line">{{ username }}</span>
					{% endfor %}
				</ul>
				<form action="/room/{{ room.code }}/" method="post">
					{% csrf_token %}
					<input
						type="hidden"
						name="room_id"
						value="{{ room.code }}"
					/>
					<button type="submit">Join room</button>
				</form>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock content %}
