{% extends "myapp/base.html" %} {% block content %}
<div class="form-content">
	<h2>Login</h2>
	<!-- Errors messages -->
	{% if form.errors %}
	<div class="alert alert-danger">
		Your username and password didn't match. Please try again.
	</div>
	{% else %} {% if next %} {% if user.is_authenticated %}
	<div class="alert alert-info">
		Your account doesn't have access to this page. To proceed, please login
		with an account that has access.
	</div>
	{% else %}
	<div class="alert alert-info">Please login to see this page.</div>
	{% endif %} {% endif %} {% endif %}

	<!-- Form - Login -->
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<div class="user-box">
			<!-- Form field - username -->
			<input type="text" name="username" required="" />
			<label>Username</label>
		</div>
		<div class="user-box">
			<!-- Form field - password -->
			<input type="password" name="password" required="" />
			<label>Password</label>
		</div>
		<input id="submit-button" type="submit" value="Login" />

		<!-- Form field - next -->
		<!-- Used to configure redirect after successful login -->
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var nextValue = getUrlParameter('next');
				var nextUrl = nextValue ;
				var inputNext = document.querySelector('input[name="next"]');
				nextUrl = nextUrl.endsWith('/')
					? nextUrl.slice(0, -1)
					: nextUrl;
				inputNext.value = nextUrl || "{% url 'home' %}";
			});

			function getUrlParameter(name) {
				name = name.replace(/[\[\]]/g, '\\$&');
				var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
					results = regex.exec(window.location.href);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, ' '));
			}
		</script>
		<input type="hidden" name="next" value="/room" />
	</form>
</div>
{% endblock %}
