{% extends "myapp/base.html" %} {% block content %}
<div class="form-content">
	<h2>Login</h2>
	<!-- Errors messages -->
	{% if form.errors %}
	<div class="alert alert-danger">
		Your username and password didn't match. Please try again.
	</div>
	{% else %} {% if next %} {% if user.is_authenticated %}
	<div class="alert alert-info">
		Your account doesn't have access to this page. To proceed, please login
		with an account that has access.
	</div>
	{% else %}
	<div class="alert alert-info">Please login to see this page.</div>
	{% endif %} {% endif %} {% endif %}

	<!-- Form - Login -->
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<div class="user-box">
			<!-- Form field - username -->
			<input type="text" name="username" required="" />
			<label>Username</label>
		</div>
		<div class="user-box">
			<!-- Form field - password -->
			<input type="password" name="password" required="" />
			<label>Password</label>
		</div>
		<input id="submit-button" type="submit" value="Login" />

		<!-- Form field - next -->
		<!-- Used to configure redirect after successful login -->
		<input type="hidden" name="next" id="nextInput" value="/" />
		<script>
			var currentUrl = window.location.href;
			var nextParamIndex = currentUrl.indexOf("next=");
			if (nextParamIndex !== -1) {
				var nextParamValue = currentUrl.substring(nextParamIndex + 5);
				document.getElementById("nextInput").value = decodeURIComponent(nextParamValue);
			}
			else{
				document.getElementById("nextInput").value = "/";
			}
		</script>
	</form>
</div>
{% endblock %}
