<!-- myapp/templates/myapp/registration.html -->

{% extends "myapp/base.html" %} {% block content %}
<div class="form-content frame">
	<h2>Registration</h2>
	<!-- Form - User -->
	<form action="" method="post" class="form-horizontal">
		{% csrf_token %}
		<div class="user-box">
			<!-- Errors - username -->
			{% if form.username.errors %}
			<label class="alert alert-danger">{{ form.username.errors }}</label>
			{% endif %}
			<!-- Form field - username -->
			<input type="text"
			name="username" required value='{{ form.username.value|default:""}}'>
			<label>Username</label>
		</div>
		<div class="user-box">
			<!-- Errors - password -->
			{% if form.password.errors %}
			<label class="alert alert-danger">{{ form.password.errors }}</label>
			{% endif %}
			<!-- Form field - password -->
			<input type="password"
			name="password" required value='{{ form.password.value|default:""}}'>
			<label>Password</label>
		</div>
			<!-- Submit button -->
			<button id="submit-button" type="submit">Register</button>

	</form>
</div>
{% endblock content %}
