<!-- myapp/templates/myapp/room.html -->

{% extends "myapp/base.html" %} {% block content %}
<script>
	var socket = new ReconnectingWebSocket(
		`ws://${window.location.host}:8001/ws/room_updates/`
	);
	socket.onmessage = function (event) {
		var data = JSON.parse(event.data);
		// dataExample = {message: "update_rooms", data: {code: "H668Q6", usernames: ["Sydnec", "Player1"], message: "join"}}
		if (data.data === 'start') {
			// Faire une requête AJAX à la fonction display()
			$.ajax({
				url: '/room/' + data.code, // Remplacez par l'URL de votre fonction display()
				type: 'GET',
				success: function (response) {
					// Remplacez tout le contenu de la page avec la réponse de la fonction display()
					document.open();
					document.write(response);
					document.close();
				},
			});
		} else {
			updateRoomList(data.data);
		}

		function updateRoomList(roomData) {
			switch (roomData.message) {
				case 'leave':
					document
						.querySelectorAll('.username-list')
						.forEach(function (element) {
							if (
								roomData.usernames.includes(
									element.textContent
								) === false
							) {
								element.remove();
							}
						});
					break;
				case 'join':
					document
						.querySelectorAll('.username-list')
						.forEach(function (element) {
							element.remove();
						});
					roomData.usernames.forEach(function (username) {
						var liElement = document.createElement('li');
						liElement.className = 'username-list';
						liElement.textContent = username;
						var roomUserList = document.querySelector(
							'#room-username-list'
						);
						roomUserList.appendChild(liElement);
					});
					break;
				case 'delete':
					window.location.href = '/';
					break;

				default:
					break;
			}
		}
	};
</script>
<div class="room-content frame">
	<h1 id="room_id">{{ room_id }}</h1>
	<ul id="room-username-list">
		{% for username in usernames %}
		<li class="username-list">{{ username }}</li>
		{% endfor %}
	</ul>
	<div class="room-buttons">
		{% if is_owner %}
		<button class="room-button" name="launch" onclick="startRoom()">
			Start
		</button>
		{% endif %}
		<form action="/leave/{{ room_id }}/" method="post">
			{% csrf_token %}
			<button class="red-button room-button" type="submit">Leave</button>
		</form>
	</div>
</div>
<script>
	function startRoom() {
		const room_id = document.getElementById('room_id').innerText;

		fetch('/action/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': '{{ csrf_token }}',
			},
			body: JSON.stringify({
				action: 'start',
				room_id: room_id,
			}),
		}).then((response) => response.json());
	}
</script>
{% endblock content %}
