<!-- myapp/templates/myapp/room.html -->
{% extends "myapp/base.html" %} 
{% load static %}
{% block content %}
<script src="{% static 'myapp/js/room.js' %}"></script>
<div class="room-content frame">
	<h1>{{ room_id }}</h1>
	<ul id="room-username-list">
		{% for username in usernames %}
		<li class="username-list">{{ username }}</li>
		{% endfor %}
	</ul>
	<div class="room-buttons">
		{% if is_owner %}
		<form action="" method="post">
			{% csrf_token %}
			<button type="submit" name="launch">Start</button>
		</form>
		{% endif %}
		<form action="/leave/{{ room_id }}/" method="post">
			{% csrf_token %}
			<button class="red-button" type="submit">Leave</button>
		</form>
	</div>
</div>
{% endblock content %}
