<!-- myapp/templates/myapp/table.html -->

{% extends "myapp/game.html" %} {% block board %} {% load static %}
<div class="on-gameboard">
    {% for card_association in trick_cards %}
        {% if forloop.counter > 1 %}
        <div class="trick-card-content trick-overlap">
        {% else %}
        <div class="trick-card-content">
        {% endif %}
        {% if card_association.card.name == "tigress" %}
            <img class='card trick-card' src="{% static 'myapp/images/cards/' %}{{ card_association.card.name }}{% if card_association.trick.round.tigressOption %}1{% else %}0{% endif %}.png" style="z-index: {{ forloop.counter }};"></img>
        {% else %}
            <img class='card trick-card' src="{% static 'myapp/images/cards/' %}{{ card_association.card.name }}.png" style="z-index: {{ forloop.counter }};"></img>
        {% endif %}
            <p class="card-owner">{{ card_association.hand.player.user.username }}</p>
        </div>
    {% endfor %}
</div>
{% endblock board %}
